<%= form_for(@navigation_entry) do |f| %>
  <% if @navigation_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@navigation_entry.errors.count, "error") %> prohibited this navigation_entry from being saved:</h2>

      <ul>
      <% @navigation_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :navigation_id %><br />
    <%= f.select :navigation_id, Navigation.all.map{ |n| [n.name, n.id] } %>
  </div>
  <div class="field">
    <%= f.label :entry_id %><br />
    <%= f.select :entry_id, Entry.all.map{ |e| [e.name, e.id] } %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
