<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body class="vatany">
  <div> 
<!-- Eto n asina n logo -->
	<div class="logo">
    	<div class="saryLogo">
			<img name="logo" src="/images/mjs.jpg" width="100" height="100" alt="logo" style="background-color: #FF99FF" />
      </div>
        
      <div class="textLogo">
        Administration
        </div>
   </div>
 </div>


 <divi class="droite">
<!-- codes -->
      <h5>Listing navigation entries</h5>
        <table>
         <tr>
           <th>Navigation</th>
           <th>Entry</th>
           <th>Position</th>
           <th></th>
    <th></th>
    <th></th>
  </tr>

<% @navigation_entries.each do |navigation_entry| %>
  <tr>
    <td><%= navigation_entry.navigation %></td>
    <td><%= navigation_entry.entry %></td>
    <td><%= navigation_entry.position %></td>
    <td><%= link_to 'Show', navigation_entry %></td>
    <td><%= link_to 'Edit', edit_navigation_entry_path(navigation_entry) %></td>
    <td><%= link_to 'Destroy', navigation_entry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Navigation entry', new_navigation_entry_path %>
</body>
</html>
