<p id="notice"><%= notice %></p>
<body class="vatany">
  <div> 
<!-- Eto n asina n logo -->
	<div class="logo">
    	<div class="saryLogo">
			<img name="logo" src="/images/mjs.jpg" width="100" height="100" alt="logo" style="background-color: #FF99FF" />
      </div>
        
      <div class="textLogo">
        Administration
        </div>
   </div>
</div>


<p>
  <b>Navigation:</b>
  <%= @navigation_entry.navigation %>
</p>

<p>
  <b>Entry:</b>
  <%= @navigation_entry.entry %>
</p>

<p>
  <b>Position:</b>
  <%= @navigation_entry.position %>
</p>


<%= link_to 'Edit', edit_navigation_entry_path(@navigation_entry) %> |
<%= link_to 'Back', navigation_entries_path %>
</body>
