<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title></title>
  </head>
<body>
 <div id="content">
    <div class="logo">
      <div class="textLogo">
           Administration
      </div>
    </div>

  
<div >

<table border = 1>
  <tr id = "text-table">
    <th>Name</th>
    <th>Permalink</th>
    <th>Title</th>
    <th>Destination action</th>
    <th>Destination content</th>
    <th>Destination content type</th>
    <th>Container</th> 
    <th>Actions</th>
    
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.name %></td>
    <td><%= entry.permalink %></td>
    <td><%= entry.title %></td>
    <td><%= entry.destination_action %></td>
    <td><%= entry.destination_content_id %></td>
    <td><%= entry.destination_content_type %></td>
    <td><%= entry.container_id %></td> 
    <td>
      <%= link_to 'Public', entry.permalink %>
      <%= link_to 'Show', :action => 'show', :id => entry %>
     <%= link_to 'Edit', edit_entry_path(entry) %>
     <%= link_to 'Destroy', entry, confirm: 'Are you sure to delete this entries?', method: :delete %>
  </td>
  </tr>
<% end %>
</table>

<br />
<div class="new">
<%= link_to 'New Entry', new_entry_path%>
</div>
</div>
</div>
</body>
</html>
