<p id="notice"><%= notice %></p>
<div id="content">
    <div class="logo">
      <div class="textLogo">
           Administration
      </div>
    </div>

   <div class="gauche">
      <div class="entrer">
            <ul>
            	<li> <a href="entries" target="_blank">Entries</a> </li>
              <li> <a href="blog_posts" target="_blank">Blog posts</a> </li>
            	<li> <a href="containers" target="_blank">Containers</a> </li>
            	<li> <a href="navigations" target="_blank">Navigation</a> </li>
            	<li> <a href="navigation_entries" target="_blank">Navigation entries</a> </li>
              <li> <a href="container_navigations" target="_blank">Container navigation</a> </li>					  	
            </ul>
          </div>
         </div>
<div class="droite">

<p>
  <b>Name:</b>
  <%= @entry.name %>
</p>

<p>
  <b>Permalink:</b>
  <%= @entry.permalink %>
</p>

<p>
  <b>Title:</b>
  <%= @entry.title %>
</p>

<p>
  <b>Destination action:</b>
  <%= @entry.destination_action %>
</p>

<p>
  <b>Destination content:</b>
  <%= @entry.destination_content_id %>
</p>

<p>
  <b>Destination content type:</b>
  <%= @entry.destination_content_type %>
</p>

<p>
  <b>Container:</b>
  <%= @entry.container_id %>
</p>

<p>
  <b>As parameters:</b>
  <%= @entry.destination_as_params %>
</p>

<p>
  <b>As URL:</b>
  <%= url_for @entry.destination_as_params %>
</p>

<%= link_to 'Public view', @entry.permalink %> |
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>

