
<% if public_view? %>
 
  <ul>
  <% @partenaires.each do |p| %>
    <li><%= link_to p.entry.title, p.entry.permalink %>
  <% end %>
<% else %>


<h1>Listing partenaires</h1>

<table>
  <tr>
    <th>Titre</th>
    <th>Name</th>
    <th>Logo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partenaires.each do |partenaire| %>
  <tr>
    <td><%= partenaire.titre %></td>
    <td><%= partenaire.name %></td>
    <td><%= partenaire.logo %></td>
    <td><%= link_to 'Show', partenaire %></td>
    <td><%= link_to 'Edit', edit_partenaire_path(partenaire) %></td>
    <td><%= link_to 'Destroy', partenaire, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partenaire', new_partenaire_path %>
<% end %>
