<% if public_view? %>
  Avé

  Il y a actuellement <%= @blog_posts.count %>.

  <ul>
  <% @blog_posts.each do |b| %>
    <li><%= link_to b.entry.title, b.entry.permalink %>
  <% end %>
<% else %>
  <div id="content">
    <div class="logo">
       <div class="saryLogo">
			  <img src="" width="100" height="100"  />
       </div>
       <div class="textLogo">
           Administration
       </div>
    </div>

        <div class="gauche">
          <div class="entrer">
            <ul>
            	<li> <a href="entries" target="_blank">Entries</a> </li>
              <li> <a href="blog_posts" target="_blank">Blog posts</a> </li>
            	<li> <a href="containers" target="_blank">Containers</a> </li>
            	<li> <a href="navigations" target="_blank">Navigation</a> </li>
            	<li> <a href="navigation_entries" target="_blank">Navigation entries</a> </li>
              <li> <a href="container_navigations" target="_blank">Container navigation</a> </li>					  	
            </ul>
          </div>
         </div>
              <div class="droite">
                <h3>Listing blog post</h3>

                <table border=1>
                  <tr>
                     <th>Name</th>
                     <th>Title</th>
                     <th>Content</th>
                     <th>Actions</th>
               
                  </tr>

          <% @blog_posts.each do |blog_post| %>
                  <tr>
                    <td><%= blog_post.name %></td>
                    <td><%= blog_post.title %></td>
                    <td><%= blog_post.content %></td>
                    <td>
                      <%= link_to 'Show', blog_post %></br>
                      <%= link_to 'Edit', edit_blog_post_path(blog_post) %></br>
                      <%= link_to 'Destroy', blog_post, confirm: 'Are you sure?', method: :delete %>
                    </td>
                 </tr>
        <% end %>
          </table>

      <br />

        <%= link_to 'New Blog post', new_blog_post_path %>
      <% end %>
    </div>
</div>
