<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @container.name %>
</p>

<p>
  <b>Layout:</b>
  <%= @container.layout %>
</p>


<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
