<p id="notice"><%= notice %></p>

<p>
  <b>Container:</b>
  <%= @container_navigation.container %>
</p>

<p>
  <b>Navigation:</b>
  <%= @container_navigation.navigation %>
</p>


<%= link_to 'Edit', edit_container_navigation_path(@container_navigation) %> |
<%= link_to 'Back', container_navigations_path %>
