<!DOCTYPE html>
<html>
<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>ReusableContainersDemoApp</title>
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="entete">
    <div class="sary">
    </div>
    <div class="menu">
  
      <% unless current_container.navigations.empty? %>
        <%= render current_container.navigations %>
      <% end %>
    </div>
  </div>

  <div class="corps">
  <!--
  <%= debug current_container.name %>
  -->
  <!--  <h1><%= link_to "Reusable Containers Vue Publique", root_path %></h1> -->

  <%= yield %>

</div>
  <footer>
  <%= link_to "Administration", administration_root_path %>
</footer>

</body>
</html>
