<!DOCTYPE html>
<html>
<head>
  <title>ReusableContainersDemoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--
  <%= debug current_container.name %>
  -->
  <h1>Reusable Containers Vue Publique</h1>

  <%= yield %>


</body>
</html>
