<!DOCTYPE html>
<html>
<head>
  <title>ReusableContainersDemoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to "Reusable Containers Administration", administration_root_path %></h1>

  <%= link_to "Voir le site", root_path %>
  <%= yield %>

  <%= debug params %>

</body>
</html>
