<!DOCTYPE html>
<html>
<head>
  <title>ReusableContainersDemoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Reusable Containers Administration</h1>

  <%= yield %>

  <%= debug params %>

</body>
</html>
