<!DOCTYPE html>
<html>
<head>
  <title>Administration :: site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    $(document).ready(function() {
	   $('textarea').addClass('ckeditor');
	});
  </script>
</head>
<body>
 
  
<div id='contenaire'>
  <div id='header'>
    <h1 style="color: #fff;text-align: center;">
      Espace d'administration du site
    </h1>
  </div>
   <nav id="menu">
    
    <ul>
       <li><a href='/admin/index'>Accueil</a></li>
      <li><%= link_to 'Utilisateurs', users_path %></li>
      <li><%= link_to 'Rubriques', rubriques_path %></li>
      <!-- <li><%= link_to 'Articles', articles_path %></li> -->
      <li><a href='/site/index'>Visiter le site</a></li>
      <li><a href='/redirection/logout'>Déconnexion</a></li>
    </ul>
    
  </nav>
  
  <div id=''>
    <%= yield %>
  </div>
  
</div>
<div class='foot'>
    &copy; OELIARIHOASA - CUFP - 2012
  </div>
</body>
</html>
